<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         defaultTestSuite="feature"
>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <html outputDirectory="./log/report" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="feature">
            <directory suffix="Test.php">./tests/Features</directory>
        </testsuite>
        <testsuite name="integrations">
            <directory suffix="Test.php">./tests/Integrations</directory>
        </testsuite>
    </testsuites>
</phpunit>